#age-graph {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

#gender-graph {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}

#ethnicity-graph {
	width		: 100%;
	height		: 500px;
	font-size	: 11px;
}