/* div {
    border: 1px solid red;
} */

.container {
    margin: 10px
}

/* Setting for all four rating buttons */
.ratingButtons {
    height: 80px;
    width: 70px;
    margin: 1px 1px 1px 0px;
}

#movie-poster {
    width: 350px
}

/* Rating Button 1 Background Image */
#ratingButton1 {
    background-image: url("..//images/fist5-1.png");
}

/* Rating Button 2 Background Image */
#ratingButton2 {
    background-image: url("..//images/fist5-2.png");
}

/* Rating Button 3 Background Image */
#ratingButton3 {
    background-image: url("..//images/fist5-3.png");
}

/* Rating Button 4 Background Image */
#ratingButton4 {
    background-image: url("..//images/fist5-4.png");
}

/* Rating Button 5 Background Image */
#ratingButton5 {
    background-image: url("..//images/fist5-5.png");
}

#age-graph {
	width		: 33%;
	height		: 500px;
	font-size	: 11px;
}	