/* div {
    border: 1px solid red;
} */

/* Setting for all four rating buttons */
.ratingButtons {
    height: 100px;
    width: 80px;
    margin: 5px 5px 5px 0px;
}

/* Setting for movie Posters */
#movie-poster {
    height: 525px;
    width: 350px;
}

/* Rating Button 1 Background Image */
#ratingButton1 {
    background-image: url("..//images/fist5-1.png");
}

/* Rating Button 2 Background Image */
#ratingButton2 {
    background-image: url("..//images/fist5-2.png");
}

/* Rating Button 3 Background Image */
#ratingButton3 {
    background-image: url("..//images/fist5-3.png");
}

/* Rating Button 4 Background Image */
#ratingButton4 {
    background-image: url("..//images/fist5-4.png");
}

/* Rating Button 5 Background Image */
#ratingButton5 {
    background-image: url("..//images/fist5-5.png");
}